<ion-view title="instagram">
    <ion-content has-header="true">
        <div class="col">
            <button ng-click="vm.open1()" class="button  button-block icon-left ion-social-instagram button-positive">
                <font size="">Go to Instagram Website</font>
            </button>
        </div>

        <div class="col">
            <button ng-click="vm.lookFor()" class="button  button-block icon-left ion-social-instagram button-positive">
                <font size="">Check</font>
            </button>
        </div>

        <div class="col">
            <button ng-click="vm.openPhone()" class="button  button-block icon-left ion-social-instagram button-positive">
                <font size="">Tel</font>
            </button>
        </div>
    </ion-content>
</ion-view>
