<ion-view hide-nav-bar="true">
    <ion-content style="background: #F5F1B8">

        <img src="images/app/logo.png" style="width: 100%">
        <img src="images/app/app.png" style="width: 30%; display:block; margin:auto;">

        <img src="images/app/souslogo.png" style="width: 100%">
        <div class="col">
            <button ng-click="vm.login()" class="button  button-block icon-left ion-social-instagram button-positive">
                <font size="">Sign in with Instagram</font>
            </button>
        </div>
    </ion-content>
</ion-view>
