<ion-view title="Friends">
    <ion-content style="background:#F0F0F0; ">

        <ng-list pictures="vm.pictures" col="3" hashtag="1">
        </ng-list>

        <!--    <div class="row row-padding-white">
            <div class="col col-33 border1">
                <div class="image-square" style="background-image:url('images/app/world.jpeg');height:{{vm.windowWidth/3}}px;">
                    <div class="hashtag-petit-photo">#Noam</div>
                </div>
            </div>
            <div class="col">
                <div class="image-square" style="background-image:url('images/app/world2.jpeg');height:{{vm.windowWidth/3}}px;">
                    <div class="hashtag-petit-photo">#alllo</div>
                </div>

            </div>
            <div class="col">
                <div class="image-square" style="background-image:url('images/app/building.jpeg');height:{{vm.windowWidth/3}}px;">
                    <div class="hashtag-petit-photo">#Nono</div>
                </div>
            </div>
        </div>
        <div class="row row-padding-white">

            <div class="col">
                <div class="image-square" style="background-image:url('images/app/building2.jpeg');height:{{vm.windowWidth/3}}px;">
                    <div class="hashtag-petit-photo">#Noam</div>
                </div>

            </div>
            <div class="col">

                <div class="image-square" style="background-image:url('images/app/navy.jpeg');height:{{vm.windowWidth/3}}px;">
                    <div class="hashtag-petit-photo">Noam</div>
                </div>
            </div>
            <div class="col">
                <div class="image-square" style="background-image:url('images/app/navy2.jpeg');height:{{vm.windowWidth/3}}px;">
                    <div class="hashtag-petit-photo">Noam</div>
                </div>

            </div>
        </div>
        <div class="row row-padding-white">
            <div class="col">
                <div class="image-square" style="background-image:url('images/app/sarko.jpeg');height:{{vm.windowWidth/3}}px;"></div>

            </div>
            <div class="col">
                <div class="image-square" style="background-image:url('images/app/bush.jpg');height:{{vm.windowWidth/3}}px;"></div>

            </div>
            <div class="col">
                <div class="image-square" style="background-image:url('images/app/hollande.jpeg');height:{{vm.windowWidth/3}}px;"></div>

            </div>
        </div>
 -->
    </ion-content>
</ion-view>
